[submodule "ext/glfw"]
	path = ext/glfw
	url = https://github.com/glfw/glfw.git
[submodule "ext/glad"]
	path = ext/glad
	url = https://github.com/Dav1dde/glad.git
[submodule "ext/linearmath"]
	path = ext/linearmath
	url = https://github.com/nickbhorton/linearmath.git
